html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevents scrolling on the body */
}

.App {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* Header */
.App-header {
  background-color: #282c34;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  height: 60px; /* Fixed height for the header */
}

.logo {
  height: 40px;
}

/* Search bar styles */
.SearchBar, .search-container input {
  padding: 10px 15px;
  border: 2px solid #ddd;
  border-radius: 25px;
  font-size: 16px;
  color: #333;
  outline: none;
  transition: all 0.3s ease;
}

.SearchBar:focus {
  border-color: #007bff;
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.2); 
}

.search-container {
  display: flex;
  align-items: center;
  width: 250px; /* Set width of the search container */
}

.search-icon {
  background: none;
  border: none;
  cursor: pointer;
  color: rgb(0, 217, 255);
}

/* Map container */
.map-container {
  flex-grow: 1; /* Fills available space */
  overflow: hidden; /* Prevents inner content from causing overflow */
}

.map-component {
  width: 100%;
  height: 100%; /* Will fill the container */
}

/* Footer */
footer {
  height: 40px; /* Fixed height for the footer */
  padding: 10px;
  text-align: center;
}

/* Additional styles */
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

.button-style {
  background-color: rgb(0, 217, 255);
  color: white;
  padding: 5px 10px;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button-style:hover {
  background-color: rgb(0, 77, 128);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
